%h1 assign some managers

= simple_form_for([:admin, @managership], remote: true, :html => { :class => 'new_managership form-inline' }) do |f|
  = f.input :user_id, as: :contact_picker, label: false
  = f.submit("Add Manager")

%h3 Current Managers
%ul.manager-list
  :javascript
    $.ajax({
      url : '#{admin_managerships_path}',
      dataType : 'script'
    });
:javascript
  $(function() {
    $(".new_managership input.contact_picker").contactPicker();
  });

%style
  form.form-inline div.control-group { display: inline-block; }
  form.form-inline div.control-group div.controls { display: inline-block; }
