.row-fluid
  .span6
    %h2 Create
    .new_feedback
      :javascript
        $.ajax({
              url : '#{new_feedback_path}',
              dataType : 'script'
           });
  .span6
    %h2 Review
    = render template: 'meta_feedback/new'
.row-fluid
  .span6
    %h2 Stack Rankings
  .span6
    %h2 Browse Feedback