.row-fluid
  .span6
    %h2 Create
    = render template: 'feedback/new'
  .span6
    %h2 Review
    = render template: 'meta_feedback/new'
.row-fluid
  .span6
    %h2 Stack Rankings
  .span6
    %h2 Browse Feedback