:css
  #sorted-rankings, #unsorted-rankings {
    list-style-type: none;
    margin: 0;
    padding: 0 0 2.5em;
    float: left;
  }

  #sorted-rankings {
    margin-right: 10px;
    border: 1px solid black;
    min-height: 100px;
    width: 50%;
    display: inline-block;
  }

  #sorted-rankings li, #unsorted-rankings li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
  }
#stack-rankings.carousel.slide{data: {interval: 'false'}}
  .carousel-inner
    .item.active
      1. Skill Level/Technical Ability
      How difficult and valuable are the kinds of problems
      you solve? How important/critical of a problem can you
      be given? Are you uniquely capable (in the company?
      industry?) of solving a certain class of problem, delivering a certain type of art asset, contributing to design,
      writing, or music, etc.?
      %p.h4 Sorted
      %ul#sorted-rankings.skill-list{data: {update_url: sort_rankings_url}}
        -#%li Sample
        - @rankings.where('position IS NOT NULL').each do |ranking|
          = content_tag_for :li, ranking, class: "ui-state-default" do
            = link_to(h(ranking.subject.name), ranking)

      %p.h4 Unsorted
      %ul#unsorted-rankings.skill-list{data: {update_url: sort_rankings_url}}
        - @rankings.where('position IS NULL').each do |ranking|
          = content_tag_for :li, ranking, class: "ui-state-default" do
            = link_to(h(ranking.subject.name), ranking)
    .item
      2. Productivity/Output
      How much shippable (not necessarily shipped to outside
      customers), valuable, finished work did you get done?
      Working a lot of hours is generally not related to productivity and, after a certain point, indicates inefficiency.
      It is more valuable if you are able to maintain a sensible
      work/life balance and use your time in the office efficiently, rather than working around the clock.
    .item
      3. Group Contribution
      How much do you contribute to studio process, hiring,
      integrating people into the team, improving workflow,
      amplifying your colleagues, or writing tools used by
      others? Generally, being a group contributor means
      that you are making a tradeoff versus an individual
      contribution. Stepping up and acting in a leadership
      role can be good for your group contribution score,
      but being a leader does not impart or guarantee a
      higher stack rank. It is just a role that people adopt
      from time to time.
    .item
      4. Product Contribution
      How much do you contribute at a larger scope than your
      core skill? How much of your work matters to the product? How much did you influence correct prioritization
      of work or resource trade-offs by others? Are you good
      at predicting how customers are going to react to decisions we’re making? Things like being a good playtester
      or bug finder during the shipping cycle would fall into
      this category.


:javascript
  $(function() {
    $('#sorted-rankings').sortable({
      //axis: "y",
      cursor: "move",
      update: function( event, ui ) {
        $.post($(this).data('update-url'), $(this).sortable('serialize'));
      },
      connectWith: ".skill-list"
    });

    $('#unsorted-rankings').sortable({
      //axis: "y",
      cursor: "move",
      connectWith: ".skill-list"
    });
  })
