%p Welcome to loopb.ac

%h2 Philosophy
%ul
  %li The employee is responsible for gathering his own feedback (or not)
  %li Compensation changes should be the result of the action taken in response to feedback
%h2 Notes/ Ideas
%p what if this tool provided data for comp changes: industry baseline, comp change history, sitting right beside the feedback...