%p Welcome to loopb.ac

%p A circle represents a team you're a part of. It may be a formal team, such as a project,
or it may be one where you share a common captain, such as a manager and her reports

%p what if this tool provided data for comp changes: industry baseline, comp change history, sitting right beside the feedback...