Pivotal Values These Things:
%ol
  %li Technical Skills
  %li Technical Process
  %li Client Interaction
  %li Project Skills
  %li Teamwork
  %li Attendance

What would you like to offer feedback about?
