%div
  Pivotal Values These Things:
%div
  %select
    %option Technical Skills
    %option Technical Process
    %option Client Interaction
    %option Project Skills
    %option Teamwork
    %option Attendance

%div
  What would you like to offer feedback about?
%div
  %textarea
    1) I saw Will do something awesome/crazy
    2) I gave him feedback about it
    3) He did/did not make a change
