%h2 Contacts

:javascript
  $(function() {
    var contacts = [
      #{@contacts.map(&:to_autocomplete_json).join(",")}
    ];

    $( "#contact" ).autocomplete({
      minLength: 0,
      source: contacts,
      focus: function( event, ui ) {
        $( "#contact" ).val( ui.item.value );
        return false;
      },
      select: function( event, ui ) {
        $( "#contact" ).val( ui.item.value );
        $( "#contact-id" ).val( ui.item.value );
        return false;
      }
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a><img class='profile-icon' src='" + item.icon + "'/>" +
          item.label +
          " (" + item.value + ")</a>" )
        .appendTo( ul );
    };
  });
%input#contact{placeholder: 'Select a contact', autofocus: true, spellcheck: 'false'}
%input#contact-id{type: "hidden"}