%h1 Loopb.ac Support
%dl
  %dt What would you like to know?
  %dd Everything.

%a{name: "deletion-policy"}
%dl
  %dt What's your deletion policy?
  %dd You are free to delete your organizations account with us at any time. We will not retain any data.
