%h1 Loopb.ac Terms of Service
%dl
  %dt Rule #1
  %dd Be excellent to each other.

  %a{href: "http://www.google.com/aclk?sa=l&ai=CAWw-jL0PUvjLMZCtyAH_h4CwDPH_9IcDqbSq0nT2nKqFFAgAEAFQ0NiJugNgyd7ehsijoBmgAdec-fIDyAEBqgQnT9CVY-5HSI0NonlTWT8i3aNLgPTEUhkPT3I-4PQASiTcZNH3Z5xJgAeR44YN&sig=AOD64_2pUHWlsIBJdGTkQqzNmSyxavbjgg&rct=j&q=short+generic+terms+of+service&ved=0CDEQ0Qw&adurl=http://www.rocketlawyer.com/secure/interview/new.aspx%3Fid%3D1615%26utm_source%3D103%26utm_medium%3Dcpc%26try%3D1%26v%3D3%26utm_account%3DRL-Docs-Search-Text-GDN%26utm_campaign%3DBeta-Professional-Search%26utm_adgroup%3D(1615)website-terms-of-use(professional)%26utm_term%3Dterms%2520of%2520use%2520website"}
