%h2 Your Circles
%p A circle represents a team you're a part of. It may be a formal team, such as a project, or it may be one where you share a common captain, such as a manager and her reports

= form_for(@circle, html: {class: 'form-inline'}) do |f|
  = f.text_field(:name, :placeholder => "Add a new Circle", autofocus: true)
  = f.submit("Add", class: 'btn btn-primary')

#circles
  = render @circles

:javascript
  $('.circle').GPlusCircle();
